@font-face {
  font-family: 'Lato';
  src: url(assets/Lato/Lato-Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url(assets/Lato/Lato-Light.ttf);
  font-weight: normal;
}