#intro {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#welcomeTo {
    margin-right: 15px;
    text-transform: uppercase;
}

#dodate {
    font-size: 3em;
}

#body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#navs {
    margin-top: 25px;
}

#navs a:first-child {
    margin-right: 25px;
}
