#searchArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#resultsArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#searchArea input, #searchArea select {
  margin-right: 15px;
}

p {
  margin: 0;
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.default {
  color: grey;
}

#resultCount {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

#resultsTableWrapper {
  flex: 1;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

#noResultsWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resultsTable {
  width: 100%;
  padding: 10px;
  border: none;
}

#resultsTable td, #resultsTable th {
  text-align: left;
  padding: 10px;
}

#resultsTable .row {
  cursor: pointer;
}

#resultsTable .row:hover {
  background-color: var(--hover-color);
  border-radius: var(--border-radius);
}

#resultsTable .row td:first-child { border-radius: var(--border-radius) 0 0 var(--border-radius); }
#resultsTable .row td:last-child { border-radius: 0 var(--border-radius) var(--border-radius) 0; }

#resultsHeader {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#resultsHeader #resultsSort {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#selectSort {
  margin-left: 15px;
}

#sortOrder {
  background: url(../assets/arrow-up.svg) no-repeat right 10px center;
  background-color: transparent;
  margin-left: 5px;
  padding-right: 40px;
  color: black;
  text-align: left;
}

.flipped {
  background: url(../assets/arrow-down.svg) no-repeat right 10px center !important;
  background-color: transparent !important;
}